.message {
  display: flex;
  margin-bottom: 40px;
  margin: 20px;
  position: relative;
flex-direction: row-reverse;
}
.my_message{
    align-self: flex-end;
    flex-direction: row;

}
.my_message > .msg{
    background-color: mediumslateblue;
}
.my_message > .msg > p{
    color: #fff;
}

.msg {
  display: flex;
  background-color: lightgrey;
  border-radius: 10px;

}
.msg > p {
  overflow-wrap: break-word;
  padding: 10px;
  color: gray;
  max-width: 400px;
  min-width: 70px;
  overflow-wrap: break-word;
}

.time_stamp {
  position: absolute;
  right: 0;
  font-size: 10px;
  bottom: -15px;
  color: gray;
}
